@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

.side-container {
    display: flex;
    flex-direction: row;
}

.sidebar-main-container {
    background-color: #121016;
    height: 95.2vh;
    width: 350px;
    display: flex;
}

.sidebar-container {
    height: 95.2vh;
    width: 350px;
}

.navbar-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 15px 5px 10px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid rgba(209,210,211,0.2);
    background-color: rgba(209,210,211,.10);
    color: #ffffff;
}

.add-con {
    background-color: transparent;
    border: none;
}

.add-btn {
    height: 20px;
    font-size: 20px;
    cursor: pointer;
    color: gainsboro;
    opacity: .6;
    text-align: center;
}

.add-btn:hover {
    color: #ffffff;
}

.navbar-channel-body {
    padding: 10px 5px 10px 10px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
}

.navbar-dm-body {
    padding: 10px 5px 10px 10px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
}

.body-main-container {
    position: inherit;
    height: 95.2vh;
    width: 100%;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid rgba(209,210,211,0.2);
    background-color: rgb(18, 16, 22, 0.9);
    color: #ffffff;
}

.body-navbar {
    height: 95vh;
    width: 100%;
}