@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

.body {
    height: 100%;
}

.nav-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
}

.nav-container {
    background-color: #121016;
    height: 45px;
    width:  100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-account {
    /* border: 1px solid green; */
    display: flex;
    justify-content: right;
    align-items: center;
    height: 45px;
    width: 50px;
    margin-right: 40px;
    gap: 5px;
}

.nav-account-name {
    display: flex;
    background-color: darkorchid;
    text-align: center;
    line-height: 22px;
    border-radius: 5px;
    height: 26px;
    width: auto;
    padding: 3px 10px;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}

.nav-input-area {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-text-area {
    border-radius: 4px;
    border: 1px solid rgba(209,210,211,0.2);
    background-color: rgba(209,210,211,0.2);
    padding: 5px;
    height: 26px;
    width: 600px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}

.nav-account-btn {
    text-align: center;
    background-color: transparent;
    border: none;
    height: 26px;
    width: auto;
    font-size: 26px;
    color: #ffffff;
    cursor: pointer;
}