.messageFeatureDiv{
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

.sendButton {
  width: 50px;
}

.inputChat {
  height: 50px;
}
.user1Chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user2Chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sharedChatBox {
  height: 400px;
  width: 400px;
  border: 1px solid black;
}