@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

.channel-main-container {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px 0 10px;
    height: 28px;
}

.channel-main-container:hover {
    border: none;
    background-color: rgba(209,210,211,0.08);
}

.channel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

.channel-container p {
    cursor: pointer;
}

.question-btn {
    height: 20px;
    padding-right: 2px;
    margin-right: 4px;
    font-size: 20px;
    cursor: pointer;
    color: gainsboro;
    opacity: .6;
}

.delete-btn:hover {
    color: #ffffff;
}