@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

.close-container {
  background-color: transparent;
}

.btn-close {
  height: 25px;
  width: 80px;
  background-color: red;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  transition: ease-in-out .3s;
  z-index: 9999;
}

.btn-close:hover {
  background-color: darkred;
  cursor: pointer;
}