@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


.textbox-main-contianer{
    height: 95.4vh;
    width: auto;
}

.convobox-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.convo-container {
    margin: 20px 20px 5px 20px;
    height: 84.7vh;
    width: auto;
    border: 1px solid rgba(209,210,211,0.2);
    background-color: rgba(209,210,211,.10);
    border-radius: 4px;
    padding: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-y: scroll;
}

.convo-body {
    padding: 5px;
}

.messageContainer {
    margin: 0px 0px 25px 5px;
}

.messageTop {
    margin: 0 0 5px;
    display: flex;
    align-items: center;
}

.messageUser {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;
    margin: 0px 10px 0px 0;
}

.messageDate {
    font-size: 12px;
    margin: 0px;
    opacity: 0.6;
}

.messageBody {
    font-size: 16px;
    margin: 0 5px 0 20px;
}

.text-box {
    width: 90%;
    border: 1px solid rgba(209,210,211,0.2);
    background-color: rgba(209,210,211,.10);
    border-radius: 4px;
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    bottom: 15px;
    z-index: 1;
}

.message-field {
    border: none;
    padding: 5px;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: #29272d;
}

.input-field {
    border: none;
    outline: none;
    width: 100%;
    background-color: #29272d;
    padding: 5px;
    font-size: 18px;
    font-weight: 400px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
}

.input-field::placeholder {
    font-size: 18px;
    color: gainsboro;
    opacity: .6;
}

.send-btn {
    cursor: pointer;
    color: gainsboro;
    opacity: .6;
}

.send-btn:hover {
    color: #ffffff;
}
