.slack-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 50px 0 0 0;
}

.slack-mini-logo {
    display: flex;
    align-items: center;
    width: auto;
    padding-left: 120px;
}