@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

.users-main-container {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px 0 10px;
    height: 28px;
}

.users-main-container:hover {
    border: none;
    background-color: rgba(209,210,211,0.08);
}

.users-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

.users-container p {
    cursor: pointer;
}

.action-btn {
    height: 20px;
    padding-right: 2px;
    margin-right: 4px;
    font-size: 20px;
    cursor: pointer;
    color: gainsboro;
    opacity: .6;
}

.delete-btn:hover {
    color: #ffffff;
}

.userMassage-text-box {
    border: 1px solid rgba(209,210,211,0.2);
    background-color: rgba(209,210,211,.10);
    border-radius: 4px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 5px 20px 0 20px;
}